:root{
    --color1:#05299E;
    --color2:#5e4ae3;
    --color3:#947bd3;
    --color4:#f0a7a0;
    --color5:#f26ca7;
    --color6:#Ef6461;
    --color7:#e4b363;
    --color8:#e8e9eb;
    --color9:#e0dfd5;
    --color10:#313638;
}

body{
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:var(--color10);
    background-color: var(--color9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    align-items: center;
    border-bottom: 3px solid var(--color10);
}

header h1{
    padding: 0.5rem 1rem;
}

main{
    display: flex;
    justify-content: center;
}

.settings-form{
    width: 292px;
    box-sizing: content-box;
    margin: 1rem;
    border: solid 2px var(--color10);
    border-radius: 2rem;
    box-shadow: 3px 3px var(--color10);
    display: grid;    
}


.settings-form h1{
    padding: 0.5rem 2rem;
    background-color: #e4b363;
    border-bottom: 2px solid var(--color10);
    border-radius: 1.9rem 1.9rem 0 0;
}

.player-settings-container{
    display: grid;
    background-color: var(--color8);
}

.player-settings-container legend{
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--color9);
    border-top: 1px solid var(--color10);
    border-bottom: 1px solid var(--color10);
    font-size: medium;
}

.player-settings-container input[type=text]{
    border:0;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--color9);
    border-top: 1px solid var(--color10);
    border-bottom: 1px solid var(--color10);
    font-size: medium;
    transition: all 0.4s ease;
}

.player-settings-container input[type=text]:focus{
    outline:none;
    color: var(--color6);
    background-color: var(--color8);
}

.player-settings-container input[type=text]:hover{
    background-color: var(--color8);
}

.player-bot-container{
    padding: 0.5rem 1rem; 
}

.player-bot-container.last{
    border-bottom: 1px solid var(--color10);
}

.player-bot-container input{
    display: none;
}

.slider{
    height: 20px;
    width: 60px;
    border-radius: 0.5rem;
    border: 1px dashed var(--color1);
    position: relative;
    left: -118px;
    top: -1px;
    background-color: var(--color5);
    opacity: 25%;
    transition: all 0.3s ease;
}

.player-bot-container:hover{
    background-color: var(--color9);
}

input:checked+.slider{
    left: 105px;
    width: 40px;
    
    background-color: var(--color1);

}

.player-bot-container label{
    display: flex;
    justify-content: space-between; 
    cursor: pointer;
}


.settings-container button{
    position: relative;
    left:25%;
    bottom: 10px;
    border: 1px dashed var(--color7);
    margin-top: 20px;
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    background-color: var(--color10);
    color: var(--color7);
    transition: all 0.4s ease;
}

.settings-container button:hover{
    border: 1px dashed var(--color10);
    background-color: var(--color7);
    color: var(--color10);
    cursor: pointer;
}

.game-container{
    display: none;
    flex-direction: column;
    align-items: center;
}

.gameboard-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 1.1rem;
    border: solid 2px var(--color10);
    box-shadow: 3px 3px var(--color10);
    height: 15.5rem;
}

.gameboard-container div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    border-bottom: var(--color10) 3px solid;
}

.gameboard-container div:last-child{
    border-bottom: 0;
}

.gameboard-container button{
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    height: 5rem;
    width: 5rem;
    background-color: var(--color4);
    transition: all ease 0.3s;
}

.gameboard-container button:not(.clicked):hover{
    opacity: 85%;
}

button.clicked{
    background-color: var(--color7);
}

button.symbolO::after{
    color:var(--color6);
    content: "O";
}

button.symbolX::after{
    color:var(--color2);
    content: "X";
}

.row-0>.column-0{
    border-radius: 1rem 0 0 0;
}

.row-0>.column-2{
    border-radius: 0 1rem  0 0;
}

.row-2>.column-0{
    border-radius: 0 0 0 1rem;
}

.row-2>.column-2{
    border-radius: 0 0 1rem 0;
}

button.winning-tile{
    background-color: var(--color9);
}

.gameboard-container>div>button:first-child{
    border-right: var(--color10) 3px solid;
}

.gameboard-container>div>button:last-child{
    border-left: var(--color10) 3px solid;
}

.display-container{
    font-size: small;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    height: 80px;
    width: 240px;
    margin-bottom: 1rem;
    background-color: var(--color7);
    border-radius: 1rem;
    border: solid 2px var(--color10);
    box-shadow: 3px 3px var(--color10);
}

.players-cards  {
    display:flex;
    margin-top: 1rem;

}

.card{
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color7);
    width: 114px;
    height: auto;
    padding: 0.5rem 0.8rem;
    display: grid;
    gap: 6px;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 20px 20px;
    border: 2px solid var(--color10);
    box-shadow: 3px 3px var(--color10);
}

.card-name{
    font-weight: 600;
    grid-column: 1/3;
    font-size: small;
    background-color: var(--color8);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.card-symbol{
    background-color: var(--color8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-symbol.player-one{
    color: var(--color6);
}

.card-symbol.player-two{
    color: var(--color2);
}

.card-bot{
    padding-left: 0.2rem;
    font-size: small;
    align-self: center;
    justify-self: start;
}

.player-one-score,.player-two-score{
    grid-column: 1/3;
}

.btns-dashboard{
    display:flex;
    margin-top: 1rem;
}

.restart-btn, .continue-btn{
    border: 1px solid var(--color10);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 114px;
    margin: 0.5rem;
    background-color: var(--color7);
    box-shadow: 3px 3px var(--color10);
    color: var(--color10);
    transition: all 0.3s ease;
    transform: translate(0,0);
    display: none;
}


.continue-btn.disabled{
    opacity: 85%;
    transform: translate(3px,3px);
    box-shadow: 0 0;
}

.restart-btn:hover, .continue-btn:hover{
    transform: translate(3px,3px);
    box-shadow: 0 0;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--color10);
    background-color: var(--color4);
}

.footer-content{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: small;

}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color10);
    margin: 0.5rem 1rem;
    transition: 0.3s all ease;
}

footer a:hover{
   fill: var(--color8); 
   color: var(--color8);
}

footer svg{
    height: 20px;
}