:root{
    --color1:#05299E;
    --color2:#5e4ae3;
    --color3:#947bd3;
    --color4:#f0a7a0;
    --color5:#f26ca7;
    --color6:#Ef6461;
    --color7:#e4b363;
    --color8:#e8e9eb;
    --color9:#e0dfd5;
    --color10:#313638;
}

body{
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:var(--color10);
    background-color: var(--color9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: var(--color4);
    display: flex;

    padding: 0.5rem 2rem;
    align-items: center;
    border-bottom: 3px solid var(--color10);
}

header.with-button{
    justify-content: space-between;
    
}

header h1{
    padding: 0.5rem 1rem;
}

.restart-btn{
    border: 1px solid var(--color10);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* display:none; */
    background-color: var(--color7);
    color: var(--color10);
    transition: all 0.3s ease;
    transform: scaleX(0);
}

.restart-btn:hover{
    background-color: var(--color10);
    color: var(--color7)
}

.restart-btn.show{
    transform: scaleX(1);
}

main{
    display: flex;
    justify-content: center;
}

.settings-form{
    width: 292px;
    box-sizing: content-box;
    margin: 1rem;
    border: solid 2px var(--color10);
    border-radius: 2rem;
    box-shadow: 3px 3px var(--color10);
    display: grid;    
}


.settings-form h1{
    padding: 0.5rem 2rem;
    background-color: #e4b363;
    border-bottom: 2px solid var(--color10);
    border-radius: 1.9rem 1.9rem 0 0;
}

.player-settings-container{
    display: grid;
    background-color: var(--color8);
}

.player-settings-container legend{
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--color9);
    border-top: 1px solid var(--color10);
    border-bottom: 1px solid var(--color10);
    font-size: medium;
}

.player-settings-container input[type=text]{
    border:0;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--color9);
    border-top: 1px solid var(--color10);
    border-bottom: 1px solid var(--color10);
    font-size: medium;
    transition: all 0.4s ease;
}

.player-settings-container input[type=text]:focus{
    outline:none;
    color: var(--color6);
}

.player-bot-container{
    padding: 0.5rem 1rem; 
}

.player-bot-container.last{
    border-bottom: 1px solid var(--color10);
}

.player-bot-container input{
    display: none;
}

.slider{
    height: 20px;
    width: 60px;
    border-radius: 0.5rem;
    border: 1px dashed var(--color1);
    position: relative;
    left: -118px;
    top: -1px;
    background-color: var(--color5);
    opacity: 25%;
    transition: all 0.3s ease;
}

.player-bot-container:hover{
    background-color: var(--color9);
}

input:checked+.slider{
    left: 105px;
    width: 40px;
    
    background-color: var(--color1);

}

.player-bot-container label{
    display: flex;
    justify-content: space-between; 
    cursor: pointer;
}


.settings-container button{
    position: relative;
    left:25%;
    bottom: 10px;
    border: 1px dashed var(--color7);
    margin-top: 20px;
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    background-color: var(--color10);
    color: var(--color7);
    transition: all 0.4s ease;
}

.settings-container button:hover{
    border: 1px dashed var(--color10);
    background-color: var(--color7);
    color: var(--color10);
    cursor: pointer;
}

.gameboard-container{
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 2rem;
}

.gameboard-container div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    border-bottom: var(--color10) 3px solid;
}

.gameboard-container div:last-child{
    border-bottom: 0;
}

.gameboard-container button{
    border: none;
    border-radius: 0;
    height: 5rem;
    width: 5rem;
    background-color: var(--color4);
    transition: all ease 0.3s;
}

.gameboard-container button :not(.disabled):hover{
    opacity: 85%;
}

button.disabled{
    background-color: var(--color7);
}

button.number-1::after{
    color:var(--color6);
    content: "O";
}

button.number1::after{
    color:var(--color2);
    content: "X";
}

.row-0>.column-0{
    border-radius: 1rem 0 0 0;
}

.row-0>.column-2{
    border-radius: 0 1rem  0 0;
}

.row-2>.column-0{
    border-radius: 0 0 0 1rem;
}

.row-2>.column-2{
    border-radius: 0 0 1rem 0;
}



.gameboard-container>div>button:first-child{
    border-right: var(--color10) 3px solid;
}

.gameboard-container>div>button:last-child{
    border-left: var(--color10) 3px solid;
}


footer{
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: small;
    border-top: 3px solid var(--color10);
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color10);
    margin: 0.5rem 1rem;
    transition: 0.3s all ease;
}

footer a:hover{
   fill: var(--color8); 
   color: var(--color8);
}

footer svg{
    height: 20px;
}